/* Grid Height Settings */
.grid__wrapper {
  display: flex;
  flex-wrap: wrap;
}
.grid__item {
  display: flex;
  flex-direction: column;
}
.archive__item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Optional Settings: */
  background-color: #1a1a1a; /* background */
  padding: 15px; /* Inner spacing */
  border-radius: 8px; /* Rounded corners */
}
